<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Magazinul de Miere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="/">Acasa (Home)</a>
    <a href="/honey">Catalog Miere</a>
    <a href="/wax">Catalog Figurine</a>
    <a href="/contact">Contact</a>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <p class="flash-message {{category}}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="content-container">
{% block content %}
{% endblock %}
    </div>

<script>
    const flashMessages = document.querySelectorAll('.flash-message');

    setTimeout(function() {
        flashMessages.forEach(function(msg) {
            msg.classList.add('fade-out');

            setTimeout(function() {
                msg.remove();
            }, 1000);
        });
    }, 3000);
</script>

</body>
</html>