<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Magazinul de Miere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; background-color: #fbc02d;">
    <div>
        <a href="/" style="margin-right: 15px; text-decoration: none; color: #3e2723; font-weight: bold;">Acasă</a>
        <a href="/honey" style="margin-right: 15px; text-decoration: none; color: #3e2723; font-weight: bold;">Miere</a>
        <a href="/wax" style="margin-right: 15px; text-decoration: none; color: #3e2723; font-weight: bold;">Figurine</a>
        <a href="/contact" style="margin-right: 15px; text-decoration: none; color: #3e2723; font-weight: bold;">Contact</a>
    </div>

    <div>
        <a href="/cart" class="cart-btn">Coș</a>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}x
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <p class="flash-message {{category}}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="content-container">
{% block content %}
{% endblock %}
    </div>

<script>
    const flashMessages = document.querySelectorAll('.flash-message');

    setTimeout(function() {
        flashMessages.forEach(function(msg) {
            msg.classList.add('fade-out');

            setTimeout(function() {
                msg.remove();
            }, 1000);
        });
    }, 3000);
</script>

</body>
</html>