{% extends "base.html" %}

{% block content %}
<h1>Mierea Noastra</h1>
<hr>

<ul>
    {% for item in honey_products %}
    <li>
         <img src="{{url_for('static', filename='images/'+item.image)}}" alt="{{item.name}}" width="200">
       <h2>
    <a href="/honey/{{ item.name }}">{{ item.name }}</a> - {{ item.price }} RON
       </h2>
      <form action="/add_to_cart/{{ item.id }}" method="POST" style="margin-top: 10px;">
        <button type="submit" style="background-color: #fbc02d; color: black; border: none; padding: 8px 15px; border-radius: 4px; font-weight: bold; cursor: pointer;">
            Adaugă în Coș
        </button>
    </form>
        <p>Detalii: {{item.description}} </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}